body {
    background-image: url('https://i.imgur.com/6ZJhwmz.jpg');
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

.brand-logo li {
    padding: 0 10px;
}

nav {
    background-color: black;
}

ul a li,
ul li a {
    color: white;
}

.nav-wrapper {
    color: black;
}

.nav-items li {
    font-size: large;
    padding: 0 5px;
}

#id_content {
    width: 100%;
    height: 60vh;
    background-color: #ffffffaa;
}

form {
    margin-bottom: 50px;
}

.post-body {
    height: 100%;
    min-height: 100vh;
    margin: 0 auto;
    overflow-y: auto;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 0 50px;
}

.post-title-photo {
    object-fit: cover;
    background-size: fill;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 50vh;
    border-radius: 30px 0;
    border: 1px solid black;
}

#post_image {
    margin: -24px 0px 0px -35px;
    height: 150px;
    object-fit: fill;
    background-position: center;
    background-size: cover;
    border-radius: 30px 0px 0px 0px;
    border: 1px solid #555;
}

.profile-photo {
    width: 150px;
    height: 142px;
    margin-top: 6px;
    object-fit: fill;
    background-position: center;
    background-size: cover;
    border-radius: 30px 0;
    border: 1px solid #555;
    box-shadow: 2px 2px 4px #aaa;
}

.profile-photo:hover {
    border-color: red;
    border-width: 3px;
    box-shadow: 2px 2px 4px transparent;
}

.capitalized {
    text-transform: capitalize;
}

h6 i {
    color: #555;
}

#id_content,
#id_content_readonly {
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
}

#id_content {
    padding: 10px;
    height: 500px;
    resize: none;
    overflow: auto;
    margin-top: 50px;
    border: 1px solid white;
    border-bottom: 1px solid #aaa;
    border-top: 1px solid #aaa;
}

#id_content_readonly {
    border: 1px solid white;
    width: 100%;
    resize: none;
    overflow: hidden;
}

form ::placeholder {
    color: #555;
}

.container {
    max-width: 900px;
}

.card {
    height: 150px;
    border-radius: 30px 0;
    background-color: #111;
    color: #aaa;
}

.card:hover {
    background-color: #333;
}

.card a {
    color: #ccc;
}

.small-card {
    height: 120px;
    border-radius: 30px 0;
}

#logo {
    margin-top: 2px;
    margin-left: 10px;
    height: 60px;
}

#logo-large {
    margin: -50px;
    margin-left: 10px;
    height: 150px;
}

#home-title {
    color: #777;
    line-height: 100px;
}

.justified {
    max-width: 400px;
    margin: 25% auto;
    background-color: black;
    border-radius: 30px 0;
}

.btn {
    border: 0.5px solid #111;
    margin: 10px 0 50px 10px;
}

.justified form p input {
    color: white;
}

.full-width {
    display: flex;
    height: 200px;
    display: flex;
    overflow-x: auto;
}

.home {
    margin: 30px;
}

.swipeView {
    margin-top: 100px;
    width: 100%;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    display: grid;
    grid-template-columns: repeat(10, 100%);
    will-change: contents;
    text-align: left;
    align-content: left;
    overflow: hidden;
    scroll-snap-coordinate: 0 0;
    scroll-snap-points-x: repeat(100%);
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    border: 1px solid black;
}

section {
    height: 30vh;
    scroll-snap-align: start;
}

.green-4 {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    color: white;
    background-color: rgb(0, 0, 0);
    background-repeat: no-repeat;
    background-blend-mode: saturation;
    background-blend-mode: luminosity;
    background-color: rgb(0, 0, 0);
    overflow: hidden;
}

#btn {
    width: 100%;
    height: 100%;
    color: white;
}